body {
  background: url(https://thumbs.dreamstime.com/b/january-s-blank-calendar-business-event-planning-ideas-travel-events-january-s-blank-calendar-business-event-planning-169663597.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}